/* src/components/Header.css */
.header {
    background: radial-gradient(circle at 81% 50%, rgba(0, 26, 83, 1) 52%, rgba(130, 150, 238, 1) 100%);
    padding: 10px 20px; /* Smaller padding */
    text-align: center;
  }
  
  .header h1 {
    color: rgb(228, 198, 198); /* White font color */
    font-size: 1.5rem; /* Smaller font size */
    margin: 0; /* Remove default margin */
  }
  